* {
    /* margin: 0; */
    /* padding: 0; */
    /* list-style: none; */
    /* border: 0; */
    /* text-decoration: none; */
    /* font-family: "NanumBarunGothic" , "Malgun Gothic" , sans-serif; */
    /* letter-spacing: -0.03em; */
    box-sizing: content-box;
}

ul {
    display: block;
    list-style:none;
    /* margin-block-start: 1em; */
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.item_pot {
    width: 100%;
    float: left;
}

#content {
    width: 420px;
    height: 504px;
    margin-top: 40px;
}

#content::after {
    float: left;
    background: url(https://ssl.nx.com/s2/game/maplestory/renewal/common/char_info/weapon_bg.png) left top no-repeat;
    opacity: 0.5;
}

.item_pot li {
    width: 82px;
    height: 82px;
    left: -40px;
    margin-right: 2px;
    margin-bottom: 2px;
    float: left;
    position: relative;
    text-align: center;
    vertical-align: middle;
    line-height: 82px;
}